@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2";
}
.main {
  width: 100%;
  /* background-image: url("/images/4_test.jpg"); */
  background-position: center;
  background-size: cover;
  height: fit-content;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 40px;
}
.navbar {
  width: 100%;
  height: 120px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 15px 20px skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.icon {
  /* width: fit-content;
    height: fit-content; */
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}
.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
}
.icon .text {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}
.menu {
  width: fit-content;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 120px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: #b7ddec;
}
.search {
  width: 330px;
  transform: translateY(-7px);
}
.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  border-right: none;
  font-size: 20px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}
.srch::placeholder {
  color: gray;
}
.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  outline: none;
}
/* * { */
/* padding: 0; */
/* margin: 0; */
/* box-sizing: border-box; */
/* } */
/* body{ */
/* font-family: Arial, sans-serif; */
/* margin: 0; */
/* background: #f9f9f9; */
/* color: #333; */
/* } */
.product-hero {
  height: 10px;
  background: linear-gradient(
    135deg,
    #b7ddec,
    #613d2069,
    #b7ddec,
    #613d2069,
    #b7ddec
  );
  box-shadow:
    0 -2px 4px black,
    0 2px 4px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0;
}
.product-hero h1,
p {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.product-hero h1 {
  font-size: 3rem;
}
.product-hero p {
  font-size: 30px;
  font-style: italic;
}
.product-section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.search-section {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2;
  row-gap: 2;
  column-gap: 2;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.product-perfume {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.product-powerwash {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.product-bathglow {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.product-purebleach {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.product-card {
  width: 200px;
  text-align: center;
  gap: 20px;
}
.product-card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
  gap: 20px;
}
.product-card img:hover {
  transform: scale(1.05);
}
.product-card button {
  margin-top: 20px;
  background-color: #ff7200;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.product-card button:hover {
  background-color: #005fa3;
}
footer {
  width: 100vw;
  height: fit-content;
  background-color: #343434;
  color: white;
  padding-top: 50px;
}
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 12%;
}
.footer-content {
  width: 100%;
  padding-left: 90px;
}
.list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}
.list li {
  width: auto;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  color: #fff;
}
.list li a {
  color: white;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: -5s;
}
.list li:hover::before {
  width: 70px;
}

.footer h3 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 10px;
}
.footer p {
  margin-left: 20px;
  margin-top: 7px;
}
.social-icons {
  text-align: left;
  padding: 30px;
}
.social-icons i {
  display: inline-block;
  color: white;
  font-size: 19px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.footer-bottom {
  text-align: center;
  background: #f18930;
  padding: 10px 0;
  margin-top: 50px;
}
.footer-bottom p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
